body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.diagonal-lines {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(to bottom right, transparent calc(50% - 1px), #042c0c calc(50% - 1px), #042c0c calc(50% + 1px), transparent calc(50% + 1px)),
    linear-gradient(to top right, transparent calc(50% - 1px), #042c0c calc(50% - 1px), #042c0c calc(50% + 1px), transparent calc(50% + 1px));
  background-color: #0c380c;
  background-size: 25px 25px; /* Define o tamanho do espaçamento entre as linhas */
}

.carta {
  background-color: white;
  height: 170px;
  width: 100px;
  background-size: cover;
  padding: 15px;
  box-sizing: content-box;
  position: relative;
  float: left;
  margin: 10px;
  border-radius: 10px;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.table {
  /* display: flex;
  flex-direction: column;
  background: #080;
  text-align: center;
  min-height: 65vh;
  padding-left: 25%;
  padding-right: 25%;
  height: auto;
  border-style: solid;
  border-color: #964b00;
  border-width: 15px;
  border-radius: 10px; */
}

.player1 {
  margin-top: auto;
  background: #080;
}

.player2 {
  margin-bottom: auto;
  background: #080;
}
