body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.card {
  background-color: white;
  height: 170px;
  width: 100px;
  background-size: cover;
  padding: 15px;
  box-sizing: content-box;
  position: absolute;
  margin: 22px;
  border-radius: 10px;
}

.other-cards {
  background-image: url("./assets/verso3.png") !important;
  height: 64px;
  width: 34px;
  background-size: cover;
  padding: 15px;
  box-sizing: content-box;
  position: relative;
  float: left;
  margin: 2px;
  margin-right: -20px;
  border-radius: 10px;
}

.card.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.card.top {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.card.animateCard {
  animation: moveCard 2s forwards;
}

@keyframes moveCard {
  0% {
      transform: rotate(0deg) translate(0, 0);
  }

  100% {
      transform: rotate(0deg) translate(0, -200px);
  }
}

.diagonal-lines {
  width: 100%;
  height: 100%;
  position: relative;
  background:
    linear-gradient(to bottom right, transparent calc(50% - 1px), #042c0c calc(50% - 1px), #042c0c calc(50% + 1px), transparent calc(50% + 1px)),
    linear-gradient(to top right, transparent calc(50% - 1px), #042c0c calc(50% - 1px), #042c0c calc(50% + 1px), transparent calc(50% + 1px));
  background-color: #0c380c;
  background-size: 25px 25px; 
}

.hidden {
  display: none;
}

.card:nth-child(1) {
  left: calc(50% - 140px); 
}

.card:nth-child(2) {
  left: calc(50% - 60px); 
}

.card:nth-child(3) {
  left: calc(50% + 20px);
}